= render 'layouts/header'
-# パンくずリスト
.breadcrumbs
  - breadcrumb :mypage_sending_destinations
  = breadcrumbs separator: " &rsaquo; "
.mypage-wrap
  = render 'mypage/side_menu'
  .main_menu
    = render 'edit_sending_destinations'
= render 'layouts/footer'