- if Favorite.find_by(user: current_user, item_id: item.id)
  = link_to "/items/#{item.id}/favorites", method: :delete, remote: true do
    .i{class: "fa fa-star"}
      %span お気に入り
      = @item.favorites.length
- else
  = link_to "/items/#{item.id}/favorites", method: :post, remote: true do
    .i{class: "fa fa-star"}
      %span お気に入り
      = @item.favorites.length