.item_detail_page

  %section.main-topic
    %h2.main-topic__item-name
      = @item.name
    .main-topic__item-info
      .main-topic__item-info__item-image
        = image_tag "pict/test_pict.png", class: "pic"
      //= image_tag (@itemimges.first.url, class: "display-images")
      %ul.main-topic__item-info__item-image--items
        %li.images
          = image_tag "pict/test_pict.png", class: "pic"
          = image_tag "pict/test_pict.png", class: "pic"
          = image_tag "pict/test_pict.png", class: "pic"
    .main-topic__item-price
      .main-topic__item-price__price-details
        .main-topic__item-price__price
          = @item.price
        %span.main-topic__item-price__tax
          （税込み）
        %span
          - if @item.postage_payer.id == 1
            送料込み
          - else @item.postage_payer.id == ２
            着払い
    .main-topic__item-introduction
      //親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰
      =@item.introduction
    .main-topic__item-details
      %table
        %tbody
          %tr
            %th 出品者
            %td
              = link_to @item.seller.nickname, "#"
          %tr
            %th カテゴリー
            %td
              = link_to @item.category.parent.parent.name
              %br
              = link_to @item.category.parent.name
              %br
              = link_to @item.category.name
          %tr
            %th ブランド
            %td
              = link_to @item.brand.name
          %tr
            %th 商品のサイズ
            %td
              = link_to @item.size.name
          %tr
            %th 商品の状態
            %td
              = link_to @item.item_condition.name
          %tr
            %th 配送料の負担
            %td
              = link_to @item.postage_payer.name
          %tr
            %th 配送元地域
            %td
              = link_to @item.prefecture_code
          %tr
            %th 配送日の目安
            %td
              = link_to @item.preparation_day.name
    .main-topic__button-container
      %ul.favorite-button
        %li.likebtn
          %i.fa.fa-star お気に入り 0
      %ul.option-btn
        = link_to "#" do
          %li.btn
            %i.fa.fa-flag 不適切な内容の報告
    .main-topic__button-user
    -if user_signed_in?
      -if @item.seller_id == current_user.id
        = link_to edit_item_path(@item), data: {turbolinks: false} do
          .main-topic__button-user--item-edit-btn 商品の編集
        .main-topic__button-user--item-btn-or or
        = link_to edit_item_path(@item), data: {turbolinks: false} do
          .main-topic__button-user--item-stop-btn 出品を一旦停止する
        = link_to item_path(@item), method: :delete, data: { turbolinks: false} do
          .main-topic__button-user--item-delete-btn この商品を削除する   
      -else
        -if @item.buyer_id == null
          = link_to "/purchases" do
            .main-topic__button-user--item-buy-btn 購入画面に進む
        -else
          .main-topic__button-user--item-buy-btn-sold 売り切れました
  .message
    .message__comment
    %p.message__notes
      相手のことを考え丁寧なコメントを心がけましょう。
      %br
      不快な言葉遣いなどは利用制限や退会処分となることがあります。
    %button.message__comment-button{:type => "submit"}
      %i.fa.fa-comment コメントする
  .nav-content
    %ul.nav-content__nav-items
      %li.nav-content__nav-items--nav-item-before
        = link_to "#" do
          %span
          %i.fa.fa-angle-left 前の商品
      %li.nav-content__nav-items--nav-item-after
        = link_to "#" do
          次の商品
          %span
          %i.fa.fa-angle-right
  .category-items
    = link_to "ベビー・キッズをもっと見る", "#"
