%section.exhibition
  .title
    %h2
      出品した商品
  %ul.lists_status
    %li.exhibition_status
      %h3
        出品中
    %li.exhibition_status
      %h3
        取引中
    %li.exhibition_status
      %h3
        売却済み
  .link-container
    %ul.exhibition_link
      - if request.fullpath == "/mypage/exhibition/selling" or request.fullpath == "/mypage"
        - if @item_exhibition.present?
          - @item_exhibition.each do |item_exhibition|
            %li.exhibiton_list
              .exhibition_detail
                = image_tag "#{item_exhibition.item_imgs.first.src.url}", class: "exhibiton_img"
                .exhibiton_info
                  %p.exhibiton_name
                    = "商品名：#{item_exhibition.name}"
                  %p.exhibition_tag
                    出品中
              .exhibition_btns
                %a{href: "/items/#{item_exhibition.id}"}
                  %button{type: "button", class: "exhibition_btn btn-detail"}
                    商品詳細
        - else
          .none_links
            = image_tag "logo/logo-white.png", class: "none_img"
            %p.none_text
              出品中の商品がありません
      - elsif request.fullpath == "/mypage/exhibition/dealing"
        - if @item_exhibition.present?
          - @item_exhibition.each do |item_exhibition|
            - if item_exhibition.trading_status == "selling"
              %li.exhibiton_list
                .exhibition_detail
                  = image_tag "#{item_exhibition.item_imgs.first.src.url}", class: "exhibiton_img"
                  .exhibiton_info
                    %p.exhibiton_name
                      = "商品名：#{item_exhibition.name}"
                    %p.exhibition_tag
                      未発送
                .exhibition_btns
                  %a{href: "/items/#{item_exhibition.id}"}
                    %button{type: "button", class: "exhibition_btn btn-detail"}
                      商品詳細
                  %button{type: "button", data: {id: "#{item_exhibition.id}"}, class: "exhibition_btn btn-shipping"}
                    発送する
            - else
              %li.exhibiton_list
                .exhibition_detail
                  = image_tag "#{item_exhibition.item_imgs.first.src.url}", class: "exhibiton_img"
                  .exhibiton_info
                    %p.exhibiton_name
                      = "商品名：#{item_exhibition.name}"
                    %p.exhibition_tag
                      発送済み
                .exhibition_btns
                  %a{href: "/items/#{item_exhibition.id}"}
                    %button{type: "button", class: "exhibition_btn btn-detail"}
                      商品詳細
        - else
          .none_links
            = image_tag "logo/logo-white.png", class: "none_img"
            %p.none_text
              取引中の商品がありません
      - else
        - if @item_exhibition.present?
          - @item_exhibition.each do |item_exhibition|
            %li.exhibiton_list
              .exhibition_detail
                = image_tag "#{item_exhibition.item_imgs.first.src.url}", class: "exhibiton_img"
                .exhibiton_info
                  %p.exhibiton_name
                    = "商品名：#{item_exhibition.name}"
                  %p.exhibition_tag
                    売却済み
              .exhibition_btns
                %a{href: "/items/#{item_exhibition.id}"}
                  %button{type: "button", class: "exhibition_btn btn-detail"}
                    商品詳細
        - else
          .none_links
            = image_tag "logo/logo-white.png", class: "none_img"
            %p.none_text
              売却済みの商品がありません