.wrapper
  = render "layouts/header"
  .space
    %h2.subtitle
      ⚫⚫の商品一覧
    = render "toppage/productlists"
    = render "toppage/productlists"
    = render "toppage/productlists"
    = render "toppage/productlists"
  = render "layouts/footer"
  = render "shared/exhibition"