.main-form
  = form_for(@user, url: mypage_passwords_update_password_path) do |f|
    = render 'layouts/error_messages', model: f.object
    %h2.main-form__title パスワード変更
    .main-form__wrapper
      .main-contents
        - if @sns_id.present?
          = hidden_field_tag :sns_auth, true
        - else
          .contents-field
            = f.label :変更後のパスワード
            %span.contents-field__require 必須
            = f.password_field :password, class:"contents-field__input", placeholder:"7文字以上の半角英数字"
          .contents-field
            = f.label :変更後のパスワード（確認）
            %span.contents-field__require 必須
            = f.password_field :password_confirmation, class:"contents-field__input", placeholder:"7文字以上の半角英数字"
          .contents-field
            = f.label :現在のパスワード
            %span.contents-field__require 必須
            = f.password_field :current_password, class:"contents-field__input", placeholder:"7文字以上の半角英数字"
            .verification-wrapper
              = f.submit "変更する", class:'default-btn'