= render 'layouts/header'
-# パンくずリスト
.breadcrumbs_list
  - breadcrumb :mypage_accounts
  = breadcrumbs separator: " &rsaquo; "
.mypage-wrap
  = render 'mypage/side_menu'
  .main_menu
    = render 'edit_account'
= render 'layouts/footer'