%body
  = render 'layouts/header_simple'

  .signin-form
    .signin-form__no-account
      %p.no-account-text アカウントをお持ちでない方はこちら
      .default-btn.default-btn--no-account
        = link_to "新規会員登録", signup_index_path
    .main-form__login-form
      .contents-field
        .default-btn.default-btn--facebook
          = link_to 'Facebookでログイン', user_facebook_omniauth_authorize_path, method: :post
          = icon('fab', 'facebook-square', class: 'icon-facebook')
      .contents-field
        .default-btn.default-btn--google
          = link_to 'Googleでログイン', user_google_oauth2_omniauth_authorize_path, method: :post
          = icon('fab', 'google', class: 'icon-google')

    .main-contents
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .contents-field
          = f.label :メールアドレス
          = f.email_field :email, class:"contents-field__input",autofocus: true, autocomplete: "email"
        .contents-field
          = f.label :パスワード
          = f.password_field :password, class:"contents-field__input",autocomplete: "current-password"

          = f.submit "ログイン", class: 'default-btn'
  = render 'layouts/footer_simple'