.item_input_page
  -# 商品出品登録
  .item_input
    = form_for @item, local: true do |f|
      .item_input__body
        %label.item_input__body__label
          出品画像
          %span.required 必須
        %p.item_input__body__text 最大10枚までアップロードできます
        .up-image
          .up-image__group
            .previews
              - if @item.persisted?
                - @item.item_imgs.each.with_index(1) do |img, i|
                  - next if i >= 6
                  .preview{{data:{name: i}},{data:{index: i}}}
                    .img_box
                      = image_tag img.src.url, data: {index: i}, class: "preview_image"
                    .preview_btn
                      削除
            %label.item_imgs
              = icon('fas', 'camera')
              .image_text_message
                %p.item_input__body__image_text
                  ドラッグ アンド ドロップ
                  %br
                  またはクリックしてファイルをアップロード
              .up-image__group__dropbox{data: {index: 1}}
                = f.file_field :src, class: "item_imgs__default", id: "up_img_last", type: 'file', multiple: true, accept: "image/*"
              - if @item.persisted?
                = f.fields_for :item_imgs do |image| 
                  .image-preview{data: {index: image.index+1}}
                    = image.file_field :src, class: "item_imgs__default", id: "up_img_last", type: 'file', multiple: true, accept: "image/*"
                  = image.check_box :_destroy, data:{index: image.index+1}, class: 'hidden-destroy'

          .under_group
            .up-image__group_2nd_row
              .previews_2nd_row
                - if @item.persisted?
                  - @item.item_imgs.each.with_index(1) do |img, i|
                    - next if i <= 5
                    .preview{{data:{name: i}},{data:{index: i}}}
                      .img_box
                        = image_tag img.src.url, data: {index: i}, class: "preview_image"
                      .preview_btn
                        削除
              %label.item_imgs_2nd_row
                = icon('fas', 'camera')
            
        %p.error_message.img_error_message
          画像がありません

      -# 商品名、商品の説明
      .item_input__body
        %label.item_input__body__label
          商品名
          %span.required 必須
        = f.text_field :name, class: "item_input__body__text_form", id: "item_name", placeholder: "40文字まで"
        %p.error_message.item-name_error_message
          入力してください

        %label.item_input__body__label
          商品の説明
          %span.required 必須
        = f.text_area :introduction, placeholder: "商品の説明（必須 1,000文字以内）\r\n（色、素材、重さ、定価、注意点など）\r\n\r\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "7", class: "item_input__body__text_area"
        .item_input__body__words_count
          %span.countup 0 
          %span /1000
        %p.error_message.item_introduction_error_message
          入力してください

      -# 商品の詳細
      .item_input__body
        %p.item_input__body__title
          商品の詳細
        %label.item_input__body__label
          カテゴリー
          %span.required 必須
        .item_input__body__category#category_box
          .pulldown#partent_box
            - if @item.persisted?
              = f.select :category_id, options_for_select( @category_parent_array.map{|c| [c[:name], c[:id]]}, selected:@category_parent.id),{include_blank: "選択してください"}, { class: "parent_category_box", id: "parent_category"}
              = icon('fa', 'chevron-down')

          .pulldown.item_input__body__category__children#children_box
            -#親カテゴリー選択によって子カテゴリー表示
            - if @item.persisted?
              = f.select :category_id, options_for_select( @category_children.map{|c| [c[:name], c[:id]]}, selected:@child_category.id),{include_blank: "選択してください"}, { class: "item_input__body__category__children--select", id: "children_category"}
              = icon('fa', 'chevron-down')
          .pulldown.item_input__body__category__grandchildren#grandchildren_box
            -#子カテゴリー選択によって孫カテゴリー表示
            - if @item.persisted?
              = f.select :category_id, options_for_select( @category_grandchildren.map{|c| [c[:name], c[:id]]}, selected:@grandchild_category.id),{include_blank: "選択してください"}, { class: "item_input__body__category__children--select", id: "children_category"}
              = icon('fa', 'chevron-down')

          %p.error_message.category_top_error_message
            選択してください
          
          #size_box  
            %label.item_input__body__label
              サイズ
              %span.required 必須    
            .pulldown#size_selectbox
              =f.collection_select :size_id, Size.all, :id, :name, {include_blank: "選択してください"}, {class: "size_box"}
              = icon('fa', 'chevron-down')

            %p.error_message.category_size_error_message
              選択してください

        .item_input__body__brand
          = f.fields_for :brand do |b|
            %label.item_input__body__label
              ブランド
              %span.option 任意
            =b.text_field :name, value: @item.brand.name, class: "item_input__body__text_form", placeholder: "例）シャネル"

        .item_input__body__item_condition
          %label.item_input__body__label
            商品の状態
            %span.required 必須
          .pulldown
            =f.collection_select :item_condition_id, ItemCondition.all, :id, :name, {include_blank: "選択してください"}, {class: "item_condition_box"}
            = icon('fa', 'chevron-down')
          %p.error_message.item_condition_error_message
            選択してください

      -# 配送について
      .item_input__body
        %p.item_input__body__title
          配送について
          =link_to icon('far','question-circle'), root_path, class: "delivery_navigation"

        %label.item_input__body__label
          配送料の負担
          %span.required 必須
        .pulldown
          =f.collection_select :postage_payer_id, PostagePayer.all, :id, :name, {include_blank: "選択してください"}, {class: "postage_payer_box"}
          = icon('fa', 'chevron-down')
        %p.error_message.postage_payer_error_message
          選択してください

        #postage_type_box
          %label.item_input__body__label
            配送の方法
            %span.required 必須
          .pulldown
            =f.collection_select :postage_type_id, PostageType.all, :id, :name, {include_blank: "選択してください"}, {class: "postage_type_box"}
            = icon('fa', 'chevron-down')
          %p.error_message.postage_type_error_message
            選択してください

        %label.item_input__body__label
          発送元の地域
          %span.required 必須
        .pulldown
          =f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, {include_blank: "選択してください"}, {class: "prefecture_code_box"}
          = icon('fa', 'chevron-down')
        %p.error_message.prefecture_error_message
          選択してください

        %label.item_input__body__label
          発送までの日数
          %span.required 必須
        .pulldown
          =f.collection_select :preparation_day_id, PreparationDay.all, :id, :name, {include_blank: "選択してください"}, {class: "preparation_day_box"}
          = icon('fa', 'chevron-down')
        %p.error_message.preparation_day_error_message
          選択してください

      -# 価格
      .item_input__body
        %p.item_input__body__title
          価格（¥300〜9,999,999）
          =link_to icon('far','question-circle'), root_path, class: "pricing_navigation"
        .price_box
          %label.item_input__body__label
            販売価格
            %span.required 必須
          .price_box__form
            %p.price_form
              ¥
            =f.number_field :price, class: "item_input__body__price_box", min: 300, max: 9999999, placeholder: "0"
        %p.error_message.price_error_message
          300以上9999999以下で入力してください

        .charge
          %p.item_input__body__text
            販売手数料（10%）
          %p.charge_result ー
        .profit
          %p.item_input__body__text
            販売利益
          %p.profit_result ー
        .item_input__body__btn
          =f.submit "変更する", class:"item_input__body__btn__exhibition_btn"
          - if @item.persisted?
            =link_to "出品を削除する", "/items/#{@item.id}/destroy", class:"item_input__body__btn__delete_btn", method: :delete
          =link_to "もどる", root_path, class:"item_input__body__btn__return_btn"
        -# 確認事項
        .item_input__body__nav
          %p<
            = "禁止されている"
            =link_to "行為", root_path
            = "および"
            =link_to "出品物",  root_path
            = "を必ずご確認ください。"
            =link_to "偽ブランド品",  root_path
            = "や"
            =link_to "盗品物",  root_path
            = "などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして"
            =link_to "加盟店規約",  root_path
            = "に同意したことになります。"