.productlist
  = link_to "/items/#{item.id}" do
    .productlist__img
      = image_tag "#{item.item_imgs.first.src.url}", class: "pic"
    .productlist__info
      %h3= "#{item.name}"
        
      .details
        %ul
          %li.price= "¥ #{item.price.to_s(:delimited)}"
          %li.icon
            %i.fa.fa-star
              0
              -# いいね数のカウントは未実装
        %p
          (税込)