.productlist
  = link_to "/items/#{item.id}" do
    .productlist__img
      = image_tag "#{item.item_imgs.first.src.url}", class: "pic"
      -if item.buyer_id.present?
        %span.sold_mark
        
    .productlist__info
      %h3= "#{item.name}"
        
      .details
        %ul
          %li.price= "¥ #{item.price.to_s(:delimited)}"
          %li.icon
            %i.fa.fa-star
              = item.favorites.length
        %p
          (税込)