= render 'layouts/header'
-# パンくずリスト
.breadcrumbs_list
  - breadcrumb :mypage
  = breadcrumbs separator: " &rsaquo; "
.mypage-wrap
  = render 'mypage/side_menu'
  .main_menu
    = render 'mypage_home'
    = render 'mypage/exhibition/show_exhibition'
    = render 'mypage/purchases/show_purchases'
= render 'layouts/footer'