= render 'layouts/header'
-# パンくずリスト
.breadcrumbs_list
  - breadcrumb :mypage_cards_index
  = breadcrumbs separator: " &rsaquo; "
.mypage-wrap
  = render 'mypage/side_menu'
  .main_menu
    = render 'card_add'
= render 'layouts/footer'