= render 'layouts/header'
-# パンくずリスト
.breadcrumbs
  - breadcrumb :mypage_cards_new
  = breadcrumbs separator: " &rsaquo; "
.mypage-wrap
  = render 'mypage/side_menu'
  .main_menu
    = render 'card_new'
= render 'layouts/footer'