<%# 画像の投稿 %>
<%= form_for(@test) do |f| %>
   <%= f.label :image %>
   <%= f.file_field :image %>
   <p><%= f.submit "投稿する" %></p>
<% end %>

<%# 画像の表示 %>
<% @tests.each do |test| %>
   <% if test.image? %>
      <%= image_tag @test.image.url %>
   <% end %>
<% end %>

