.appad
  .appad__text1
    だれでもかんたん、人生を変えるフリマアプリ
  .appad__text2
    今すぐ無料ダウンロード！
  .icons
    = link_to "#" do
      = image_tag "icon/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg", class: "icons__apple"
    = link_to "#" do
      = image_tag "icon/google-play-badge.png", class: "icons__google"
.banner
  .banner__middle
    .lists
      %ul.lists__about
        %h2
          FURIMAについて
        %li
          = link_to "#" do
            会社概要
        %li
          = link_to "#" do
            プライバシーポリシー
        %li
          = link_to "#" do
            FURIMA利用契約
        %li
          = link_to "#" do
            ポイントに関する特約
      %ul.lists__index
        %h2
          FURIMAを見る
        %li
          = link_to "#" do
            カテゴリー一覧
        %li
          = link_to "#" do
            ブランド一覧
        %li
      %ul.lists__help
        %h2
          ヘルプ&ガイド
        %li
          = link_to "#" do
            FURIMAガイド
        %li
          = link_to "#" do
            FURIMAロゴ利用ガイドライン
        %li
          = link_to "#" do
            お知らせ
    .logos
      = link_to "#" do
        = image_tag "logo/logo-white.png", class: "logos__furima"
      .logos__copy
        ©︎FURIMA