.fsimple
  .lists
    %p
      = link_to "#" do
        プライバシーポリシー      
    %p
      = link_to "#" do
        メルカリ利用規約
    %p
      = link_to "#" do
        特定商取引に関する表記
  .logos
    .furima
      = link_to root_path do
        = image_tag "logo/logo-white.png", class: "logos__furima"
    .copy
      ©︎FURIMA
